<!DOCTYPE html>
<html lang="en">
<head>
<title>CS510 Pre Project Demo</title>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var numResults;
var query = "";
var ip = "";
var resultPage = 0;

var URL = window.location.href;

$(function (){
    $("#SearchWait").hide();
    $("#next").hide();
    $("#backpage").hide();
    $("#message").hide();
});

var get_results = function(){
    $(".search-results-container").empty();

    $.ajax({
        type: 'POST',
        url: URL + "search/",
        data: {query: query, ip: ip, page: resultPage},
        dataType: 'json',
        success: function(resultData){
            console.log(resultData.titles.length);
            var limit = Math.min(resultData.titles.length - 10*resultPage, 10)
            for (var i=0; i < limit; ++i){
                rank = resultPage * 10 + i
                $(".search-results-container").append("<hr><div class=\"query-result\">");
                $(".search-results-container").append("<p style=\"font-size:20px; color:DarkBlue; margin:0px;\">" + resultData.titles[rank] + "</p>");
                buttons = "<p><input type=\"radio\" class=\"rel-radio\" id=\"rel_" + resultData.ids[rank] + "\" name=\"" + resultData.ids[rank] + "\" value=\"rel_" + resultData.ids[rank] + "_" + rank + "\"><label for=\"rel_" + resultData.ids[rank] + "\" style=\"color:green;\">Relevant</label>" 
                        + "<input type=\"radio\" class=\"notrel-radio\" id=\"notrel_" + resultData.ids[rank] + "\" name=\"" + resultData.ids[rank] + "\" value=\"non_" + resultData.ids[rank] + "_" + rank + "\"><label for=\"notrel_" + resultData.ids[rank] + "\" style=\"color:red;\">Not Relevant</label></p>";
                $(".search-results-container").append(buttons);
                $(".search-results-container").append("<table><tr><td>" + resultData.abstracts[rank] + "</td></tr></table>");
                $(".search-results-container").append("<input type=button class=\"search-related\" name=\"" + resultData.titles[rank] + "\" value=\"Show similar papers\">");
                $(".search-results-container").append("</div>");
            }

            // Saving Relevance Feedback results
            $('input[type=radio]').on('change', function(){
                $.post(URL+'save_relevance/', {query: query, ip: ip, doc_id: this.name, is_rel: this.id == 'rel_' + this.name ? 1 : -1}, dataType='json');
            });

            // Searching related papers
            $('input[class=\"search-related\"]').on('click', function(){
                $("#query").val(this.name);
                $("#search-button").click();
            });

            $("#next").show();
            $("#backpage").show();
            $("#message").hide();

            if(limit == 0 && resultPage == 0){
                $(".search-results-container").append("<p style=\"font-size:20px; color:DarkBlue\">Unfortunately, we were not able to find papers that match your query.</p>");
                $("#next").hide();
                $("#backpage").hide();
            }

            if(resultData.titles.length <= (resultPage+1)*10){
                $("#next").hide();
            }

            if(resultPage == 0){
                $("#backpage").hide();
            }
        }
    });
};

$(document).ready(function(){

        $("#search-button").click(function(){
                resultPage = 0;
                query = $("#query").val();
                example_image = "none";
                get_results();
        });

        $("#next").click(function(){
                resultPage = resultPage + 1
                query = $("#query").val();
                get_results();
        });


        $("#backpage").click(function(){
                resultPage = resultPage - 1
                query = $("#query").val();
                get_results();
        });

        $(".search-results-container").on("change", 'input[name^="paperid"]:checked', function() {
                var selectedVal = $(this).val();
                $.ajax({
                type: 'POST',
                url: URL + "buttonlog/",
                data: JSON.stringify({query: query, value: selectedVal, ip: ip}),
                });
        });

        $(".search-results-container").delegate("a", "click",function(){
            var url = $(this).attr("id");
            var r = $(this).attr("rank");
            $.ajax({
            type: 'POST',
            url: URL + "urllog/",
            data: JSON.stringify({query: query, value: url, ip: ip, rank:r}),
            });
        });

        $("#query").keyup(function(event) {
            if (event.keyCode === 13) {
            $("#search-button").click();
        }
        });

        $.getJSON('https://api.ipify.org?format=json', function(data){
            ip = data.ip;
        });

});
</script>

<style>
.my-button{
	background-color: #2f49ac;
	border-radius: 7px;
    height: 30px;
    color: #ffffff
}

.search-related {
	background-color: #ee980f;
	border-radius: 7px;
    height: 30px;
    color: #ffffff
}

.rel-radio:checked + label {
    background-color: lightgreen;
    border: 2px solid green;
    border-radius: 5px;
}

.notrel-radio:checked + label {
    background-color: antiquewhite;
    border: 2px solid red;
    border-radius: 5px;
}
</style>

</head>
<body>
<center>
    <h1>ACL Paper Search Engine</h1>
    <font size="3">Search for papers in the domain of Natural Language Processing</font>
    <p style="color: crimson;">Masterminds behind this tool: <b style="font-family: Georgia,Times,Times New Roman,serif;">Keval Morabia, Tara Vijaykumar, Malcolm Tivelius, Shubham Singhal</b></p>
    <input id="query" type="text" size="75px" style="height: 20px; border-radius: 7px;"/>
    <button type="button" id="search-button" class="my-button" value="none"> <b>Find Papers !</b></button>
</center>
<br>
<div class="search-results-container"> </div>
<center>
<button type="button" id="backpage" class="my-button" value="none"> <b>Go Back</b></button>
<button type="button" id="next" class="my-button" value="none"><b>I Want More !</b></button>

</center>
<br><br>
</body>
</html>
