<!DOCTYPE html>
<html>
<head><title>CS510 Pre Project Demo</title></head>
<body>
    <center>
        <h1>ACL Paper Search Engine</h1>
        <font size="2">Search for papers in the domain of natural language processing</font>
        <br>
        <br>
        <form method="POST">
            <input id="query-text" type="text" size="50">
            <button id="search-button" type="button">Find Papers !</button>
        </form>
    </center>
    <div class="search-result-container"></div>
</body>
</html>